name: web-api
services:
  web-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web-api
    ports:
      - "3000:3000"
    volumes:
      - ./src:/home/web-api/app/src
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - your-db-network
      - your-app-network
